#test   {
    width: 90%;   
    margin: auto;
}

#test-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

#test-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
}